##########################################################################
# MARY TTS configuration file ko.config
##########################################################################

name = ja
ja.version = 4.3.0

locale = ja

###########################################################################
############################## The Modules  ###############################
###########################################################################
###
modules.classes.list = \
       marytts.language.ja.JapaneseTokeniserAndPosTagger \
       marytts.language.ja.JapanesePhonemiser \
       marytts.language.ja.JapanesePreprocess


####################################################################
####################### Module settings  ###########################
####################################################################

# Phonemiser settings
ja.allophoneset = jar:/marytts/language/ja/lexicon/allophones.ja.xml


# Feature processor manager
featuremanager.classes.list = \
	marytts.features.FeatureProcessorManager(ja)
